body {
    margin: 1em auto;
    text-align: center;
    
}

main {
    margin-right: 20px;
    margin-left: 20px;
    
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }

.largeImage {
    max-width: 75vw;
    max-height: 75vh;
}
.edit-and-delete-buttons {
    display: flex;
    justify-content: center;
}