body {
    margin: 1em auto;
    text-align: center;
    background-color: lightblue;
    
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    padding: 1em;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: larger;
    text-decoration: none;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }

.largeImage {
    max-width: 75vw;
    max-height: 60vh;
}
.edit-and-delete-buttons {
    display: flex;
    justify-content: center;
}

.btn:hover {
    color: pink;
}