body {
    margin: 1em auto;
    text-align: center;
    background-color: lightblue;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    backgournd-color:white;
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }

.largeImage {
    max-width: 75vw;
    max-height: 75vh;
}